<div class="title">Kiris</div>
<div class="inline-nav">
  <ul><li><a href="#search">Search</a></li><li><a href="#edit/food">Add</a></li></ul>
</div>
<div class="dropdown-nav">
  <label>Account</label>
  <ul>
    <li><a href="#settings">Settings</a></li>
    <li><a href="#logout">Logout</a></li>
  </ul>
</div>

