@import "main";

.app-view-search {
  padding: 10px;

  h2 {
    @include panel-header;
  }

  .unified-search {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .results {
    min-height: 500px;
  }
}
