@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";

$height: 30px;
$icon-margin: $height - 16;

.app-view-suggest-input {
  @include border-radius(6px, 6px);
  background: rgba(255,255,255,.9);
  height: $height;
  line-height: $height;
  border: 0;
  display: inline-block;
  padding-right: 10px;
  margin: 0 5px 10px 5px;
  position: relative;
  cursor: text;
  @include box-shadow(rgba(0,0,0,.5) -1px 1px 3px 0 inset,
    rgba(255,255,255,.75) 0 1px 0 0);

  .drop-down {
    width: 300px;
    max-height: 185px;
    overflow: auto;
    display: none;
    clear: both;
    background: #fff;
    z-index: 400;

    @include single-box-shadow(rgba(0,0,0,.3), 0, 2px, 2px);
  }

  label {
    display: none;
    line-height: $height;
    float:left;
    cursor: text;
  }

  input {
    width: 150px;
    border: 0;
    height: $height - 8;
    line-height: $height - 8;
    margin: 4px 0;
    float:left;
    background: rgba(0,0,0,0);
    z-index: 20;

    &:focus {
      outline: none;
    }
  }

  .suggest-field {
    position: absolute;
    width: 150px;
    height: $height - 8;
    line-height: $height - 8;
    margin: 4px 0;
    right: 0;
    z-index: 19;
    cursor: text;
  }

  .close {
    display: none;
  }

  &.add {
    cursor: pointer;
    background: rgba(0,255,0,.3);
    @include box-shadow(rgba(0, 0, 0, 0.5) -1px 1px 3px 0);

    &:active {
      @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 0 0);
    }

    .icon {
      margin: 0 10px 0 0;
    }

    label {
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
    }

    input {
      display: none;
    }

    .suggest-field {
      display: none;
    }

  }

  &.hasFocus {
    @include box-shadow(rgba(255,186,0,1) 0 0 5px 1px inset,
      rgba(255,255,255,.75) 0px 1px 0 0);
  }

  &.compact {
    background: rgba(200,200,200,1);
    cursor: pointer;
    @include box-shadow(rgba(0, 0, 0, 0.5) -1px 1px 3px 0);

    &:active {
/*      @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 0 0);*/
    }

    label {
      display: inline;
      cursor: pointer;
      margin-right: 16px;
    }

    input {
      display: none;
    }

    .suggest-field {
      display: none;
    }

    .close {
      position: absolute;
      right: 0;
      display: block;
      margin: $icon-margin / 2;
      margin-left: 5px;
      width: 16px;
      height: 16px;
      background: url('icons.png') 0px -80px;

      &:hover {
        @include opacity(0.75);
      }
    }
  }

  .icon {
    height: 16px;
    margin: $icon-margin / 2;
    display: inline-block;
    float:left;
  }

  &.food .icon {
    width: 16px;
    background: url('icons.png') 0px -16px;
  }

  &.filter .icon {
    width: 16px;
    background: url('icons.png') 0px -32px;
  }

  &.company .icon {
    width: 16px;
    background: url('icons.png') 0px -48px;
  }

  &.food-group .icon {
    width: 16px;
    background: url('icons.png') 0px -64px;
  }

}
