.app-view-food-panel {
  background: rgba(255,255,255,.90);
  margin-bottom: 10px;
  padding: 5px;

  img {
    float: left;
    padding-right: 10px;
  }
  
  .info {
    float: left;
  }
  
  .expand-section {
    clear: both;
    padding-bottom: 10px;
  
    &.collapsed {
      overflow: hidden;
      height: 125px;
    }
  }
  
  .expand-section-button {
    display: none;
    background: rgba(0,0,0,.20);
    height: 20px;
  
    &:hover {
      background: rgba(0,0,0,.10);
      cursor: pointer;
    }
  }
  
  .info {
    header {
      font-size: 2em;
      font-weight: bold;
      color: rgba(0,0,0,.80);
    
      small {
        font-size: .7em;
        margin-left: 30px;
        color: rgba(0,0,0,.60);
      }
    }
    
    
    label {
      display: block;
      width: 200px;
      color: rgba(0,0,0,.60);
      background: rgba(0,0,0,.20);
      font-size: .9em;
      font-weight: bold;
      padding-left: 10px;
    }
    
    .row {
      color: rgba(0,0,0,.40);
      font-size: .7em;
      border-bottom: 1px solid rgba(0,0,0,.60);
      line-height: 1.5em;
      padding-left: 5px;
    }
    
    .row.empty {
      text-align: center;
    }
    
    .nutrients {
      float: left;
      margin-right: 20px;
    }
    
    .products {
      float: left;
    }
  }
}
