<div class="title">Kiris</div>
<div class="inline-nav">
  <ul><li>Search</li><li>Add</li></ul>
</div>
<div class="dropdown-nav">
  <label>Account</label>
  <ul>
    <li>Settings</li>
    <li>Logout</li>
  </ul>
</div>

